stages:
  - build
  - test
  - container

before_script:
  - apk update
  - apk --no-cache upgrade
  - apk --no-cache add gcc git libc-dev libc-utils libgcc linux-headers make bash musl-dev musl-utils ncurses-dev pcre2 pkgconf scanelf wget zlib

.build:otp: &build_otp
  stage: build
  image: erlang
  artifacts:
    untracked: true
    paths:
      - _build
  script:
    # Prepare environmental variables
    - wget https://s3.amazonaws.com/rebar3/rebar3 && chmod a+x rebar3
    - ./rebar3 compile

build:otp-21:
  <<: *build_otp
  image: erlang:21.3.8.1-alpine

build:otp-22:
  <<: *build_otp
  image: erlang:22.0-alpine

.check:otp: &check_otp
  stage: test
  image: erlang
  artifacts:
    when: always
    untracked: true
    paths:
      - _build
  script:
    - ./rebar3 do xref
    - ./rebar3 do ct

check:otp-21:
  <<: *check_otp
  image: erlang:21.3.8.1-alpine
  dependencies:
    - build:otp-21

check:otp-22:
  <<: *check_otp
  image: erlang:22.0-alpine
  dependencies:
    - build:otp-22

docker:
  image: docker:git
  stage: container
  dependencies: []
  services:
    - docker:dind
  script:
    - git tag -l
    - git describe
    - git describe --always --tags --dirty --first-parent --debug
    - git reflog
    - export CI_COMMIT_DESCRIBE=$(git describe)
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG\_$CI_COMMIT_DESCRIBE -f docker/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG\_$CI_COMMIT_DESCRIBE
    - if [ $CI_COMMIT_REF_NAME == "master" ] ; then docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest ; docker push $CI_REGISTRY_IMAGE:latest ; fi
  when: always
