stages:
  - test
  - container

before_script: &before_script
  - apk update
  - apk --no-cache upgrade
  - |
    apk --no-cache add gcc git libc-dev libc-utils libgcc linux-headers make bash \
                       musl-dev musl-utils ncurses-dev pcre2 pkgconf scanelf wget \
                       zlib curl

.check:otp: &check_otp
  stage: test
  image: erlang
  artifacts:
    when: always
    untracked: true
    paths:
      - _build
    reports:
      junit: _build/test/logs/report.xml
  script:
    - sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6'
    - ip addr add fd96:dcd2:efdb:41c3::10/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::11/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::12/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::13/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::14/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::15/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::16/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::17/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::18/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::19/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::1a/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::20/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::30/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::40/64 dev lo
    - ip addr add fd96:dcd2:efdb:41c3::50/64 dev lo
    - rebar3 xref
    - rebar3 ct

check:otp-22.3:
  <<: *check_otp
  image: erlang:22.3.4.12-alpine

check:otp-23.0:
  <<: *check_otp
  image: erlang:23.0.4-alpine

check:otp-23.1:
  <<: *check_otp
  image: erlang:23.1.2.0-alpine
  
check:otp-23.2:
  <<: *check_otp
  image: quay.io/travelping/alpine-erlang:23.3.3

docker:
  image: jdrouet/docker-with-buildx:stable
  stage: container
  dependencies: []
  variables:
    REGISTRY: "quay.io"
    BUILD_IMAGE: "travelping/ergw-c-node"
  services:
    - docker:dind
    - linuxkit/binfmt:v0.8
  script:
    - docker version
    - docker buildx ls
    - docker buildx inspect --bootstrap
    - export CI_COMMIT_DESCRIBE=$(git describe)
    - |
      case "$CI_COMMIT_REF_NAME" in
        master | stable/*) export LABELS="";;
        *)                 export LABELS="--label quay.expires-after=7d";;
      esac
    - |
      if [ $CI_COMMIT_REF_NAME == "master" ] ; then
         export TAGS="-t ${REGISTRY}/${BUILD_IMAGE}:${CI_COMMIT_DESCRIBE}"
      else
         export TAGS="-t ${REGISTRY}/${BUILD_IMAGE}:${CI_COMMIT_REF_SLUG}_${CI_COMMIT_DESCRIBE}"
      fi
    - docker login -u ${QUAY_USER_ID} -p ${QUAY_TOKEN} ${REGISTRY}
    - |
      docker buildx build \
             -f docker/Dockerfile \
             ${TAGS} \
             ${LABELS} \
             --platform=linux/arm64,linux/amd64 \
             --push --no-cache .
  when: always
