{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{meck, "0.8.7"},
	{proper, "1.2.0"},
	{lager, "3.4.2"},
	{setup, "1.8.1"},
	{exometer_core, {git, "https://github.com/Feuerlabs/exometer_core.git", {branch, "master"}}},
	{erlando, {git, "https://github.com/travelping/erlando.git", {branch, "master"}}},
	{netdata, {git, "https://github.com/RoadRunnr/erl_netdata.git", {branch, "master"}}},
	{gtplib, {git, "https://github.com/travelping/gtplib.git", {branch, "master"}}},
	{gen_socket, {git, "git://github.com/travelping/gen_socket", {branch, "master"}}},
	{ergw_aaa, {git, "git://github.com/travelping/ergw_aaa", {branch, "master"}}},
	{cowboy, {git, "git://github.com/ninenines/cowboy", {tag, "2.0.0-pre.10"}}},
	{jobs, {git, "https://github.com/uwiger/jobs.git", {branch, "master"}}},
	{jsx, "2.8.2"}
]}.

{minimum_otp_vsn, "19"}.
{plugins, []}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
		deprecated_funcqtions]}.
{xref_queries, [{"(XC - UC) || (XU - X - B - gtp_dp : Mod)", []}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
