%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
	{parse_trans, {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}},
	{setup, {git, "https://github.com/uwiger/setup.git", {ref, "b8fd827"}}},
	{jobs, "0.9.0"},
	{jsx, "3.0.0"},
	{cowboy, "2.8.0"},
	{prometheus, "4.6.0"},
	{prometheus_cowboy, "0.1.8"},
	{mongodb, {git, "git://github.com/comtihon/mongodb-erlang", {branch, "master"}}},
	{erlando, {git, "https://github.com/travelping/erlando.git", {tag, "1.0.3"}}},
	{netdata, {git, "https://github.com/RoadRunnr/erl_netdata.git", {ref, "cbd6eaf"}}},
	{gtplib, {git, "https://github.com/travelping/gtplib.git", {branch, "master"}}},
	{pfcplib, {git, "https://github.com/travelping/pfcplib.git", {branch, "master"}}},
	{ergw_aaa, {git, "git://github.com/travelping/ergw_aaa", {branch, "feature/save-restore"}}},
	{prometheus_diameter_collector, {git, "https://github.com/travelping/prometheus_diameter_collector.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "22.3"}.

{profiles, [
	    {test, [
		    {erl_opts, [nowarn_export_all]},
		    {deps, [{gun, {git, "https://github.com/ninenines/gun.git", {tag, "2.0.0-pre.1"}}},
			    {parse_trans, "3.3.0"},
			    {meck, "0.8.13"},
			    {proper, "1.3.0"}
			   ]},
		    {plugins,  [{coveralls, {git, "https://github.com/RoadRunnr/coveralls-erl", {branch, "master"}}}]}
		   ]},
	    {simulator, [{extra_src_dirs, ["simulator"]},
			 {erl_opts, [{d, 'SIMULATOR'}]}
			]},
	    {prod,
	      [{relx, [{dev_mode, false},
		       {include_erts, true},
		       {include_src, false}
		      ]},
	       {deps, [
		       {recon, "2.5.1"},
		       {observer_cli, "1.5.4"}
		      ]}
	       ]},
	     {native,
	      [{overrides,
		[{override, gen_socket, [{erl_opts,[debug_info,
						    {native, false}]}]},
		 {override, ergw, [{erl_opts,[debug_info,
					      native, {hipe, o3}]}]},
		 {override, eradius, [{erl_opts,[debug_info,
						 native, {hipe, o3}]}]},
		 {override, regine, [{erl_opts,[debug_info,
						native, {hipe, o3}]}]},
		 {override, ergw_aaa, [{erl_opts,[debug_info,
						  native, {hipe, o3}]}]},
		 {override, ppp, [{erl_opts,[debug_info,
					     native, {hipe, o3}]}]},
		 {override, gtplib, [{erl_opts,[debug_info,
						native, {hipe, o3}]}]},
		 {override, jsx, [{erl_opts,[debug_info,
					     native, {hipe, o3},
					     {d, maps_always}, {d, maps_support}]}]},
		 {override, [{erl_opts, [debug_info,
					 {platform_define, "^[0-9]+", namespaced_types},
					 {platform_define, "^[0-9]+", namespaced_dicts},
					 {platform_define, "^((1[8|9])|2)", rand_module},
					 native, {hipe, o3}]}]}]}
	      ]}
	   ]}.

{relx, [{release, { 'ergw-c-node', semver },
	 [ergw,
	  sasl,
	  runtime_tools,
	  recon,
	  observer_cli]},
	{exclude_apps, [wx]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
	       exports_not_used, deprecated_functions]}.

{xref_ignores, [ergw_nudsf]}.

{ct_opts, [
  % Specify that Common Test should name a new private directory for each
  % test case, but leave it up to the tests to actually create the directories.
  {create_priv_dir, manual_per_tc},
  % Specify that we want the results captured in a Surefire report.
  {ct_hooks, [{cth_surefire, [{path, "../report.xml"}]}]}
]}.

%% == Cover ==
%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

%% == covervalls.io ==
{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.
{coveralls_parallel, true}.

%% development setting
{shell, [{config, "priv/dev.config"}]}.
