%-*-Erlang-*-
{erl_opts, [debug_info,
	    {parse_transform, lager_transform},
	    {parse_transform, stacktrace_transform}]}.

{deps, [
	{setup, "2.0.2"},
	{lager, "3.6.5"},
	{jobs, "0.7.1"},
	{jsx, "2.9.0"},
	{cowboy, "2.4.0"},
	{exometer_core, "1.5.2"},
	{stacktrace_compat, "1.0.0"},
	{erlando, {git, "https://github.com/travelping/erlando.git", {tag, "1.0.2"}}},
	{netdata, {git, "https://github.com/RoadRunnr/erl_netdata.git", {ref, "cbd6eaf"}}},
	{gtplib, {git, "https://github.com/travelping/gtplib.git", {tag, "1.3.0"}}},
	{pfcplib, {git, "https://github.com/travelping/pfcplib.git", {tag, "1.0.0"}}},
	{gen_socket, {git, "git://github.com/travelping/gen_socket", {ref, "195a427"}}},
	{ergw_aaa, {git, "git://github.com/travelping/ergw_aaa", {branch, "feature/rf"}}}
]}.

{minimum_otp_vsn, "20.1"}.
{plugins, []}.

{profiles, [
	    {test, [
		    {erl_opts, [nowarn_export_all]},
		    {deps, [
			    {meck, "0.8.8"},
			    {proper, "1.2.0"}
			   ]}
		   ]},
	    {simulator, [{extra_src_dirs, ["simulator"]},
			 {erl_opts, [{d, 'SIMULATOR'}]}
			]}
	   ]}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
		deprecated_funcqtions]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B)", []}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

%% development setting
{shell, [{config, "priv/dev.config"}]}.
