%-*-Erlang-*-
{erl_opts, [debug_info]}.

{deps, [
	{gun, {git, "https://github.com/ninenines/gun.git", {tag, "2.0.0-rc.1"}}}
]}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
	       exports_not_used, deprecated_functions]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B)", []}]}.
