{node, [
 {run_as_user, "root"},
 {run_as_group, "root"},
 {smp, enabled}
]}.

{lager, [
    {handlers, [
        {lager_file_backend, [
            {file, "/var/log/ergw-node/error.log"},
            {level, error},
            {size, 0},
            {date, ""}
        ]},
        {lager_file_backend, [
            {file, "/var/log/ergw-node/console.log"},
            {level, debug},
            {size, 0},
            {date, ""}
        ]}
    ]},
    {colored, true},
    {error_logger_redirect, true},
    {crash_log, "/var/log/ergw-node/crash.log"}
]}.
