%% place system-specific configuration in this file
{node, [
	{cookie, "secret"}
]}.

{setup, [{data_dir, "/var/lib/ergw"},
	 {log_dir,  "/var/log/gtp-c-node"}				%% NOTE: lager is not using this
	]
}.

{ergw, [{sockets,
	 [{irx, [{type, 'gtp-c'},
		 {ip,  {192,0,2,16}},
		 {netdev, "grx"},
		 freebind
		]},
	  {grx, [{type, 'gtp-u'},
		 {node, 'gtp-u-node@localhost'},
		 {name, 'grx'}]}
	 ]},

	{vrfs,
	 [{upstream, [{pools,  [{{10, 180, 0, 1}, {10, 180, 255, 254}, 32},
				{{16#8001, 0, 0, 0, 0, 0, 0, 0}, {16#8001, 0, 0, 16#FFFF, 0, 0, 0, 0}, 64}
			       ]},
		      {'MS-Primary-DNS-Server', {8,8,8,8}},
		      {'MS-Secondary-DNS-Server', {8,8,4,4}},
		      {'MS-Primary-NBNS-Server', {127,0,0,1}},
		      {'MS-Secondary-NBNS-Server', {127,0,0,1}}
		     ]}
	 ]},

	{handlers,
	 [{gn, [{handler, pgw_s5s8},
		{sockets, [irx]},
		{data_paths, [grx]},
		{aaa, [{'Username',
			[{default, ['IMSI', <<"@">>, 'APN']}]}]}
	       ]},
	  {s5s8, [{handler, pgw_s5s8},
		  {sockets, [irx]},
		  {data_paths, [grx]}
		 ]},
	  {s2a,  [{handler, pgw_s2a},
		  {sockets, [irx]},
		  {data_paths, [grx]}
		 ]}
	 ]},

	{apns,
	 [{[<<"example">>, <<"net">>], [{vrf, upstream}]}]}
       ]
}.


{ergw_aaa, [
	    %% {ergw_aaa_provider, {ergw_aaa_mock, [{secret, <<"MySecret">>}]}}
	    {ergw_aaa_provider,
	     {ergw_aaa_radius,
	      [{nas_identifier,<<"nas01.example.com">>},
	       {radius_auth_server,{{192,0,2,32},1812,<<"secret">>}},
	       {radius_acct_server,{{192,0,2,32},1813,<<"secret">>}}
	      ]}
	    }
	   ]
}.
