%% place system-specific configuration in this file
{node, [
	{cookie, "secret"}
]}.

{ergw, [{apns,
	 [{[<<"example">>, <<"com">>], [{protocols, [{gn,   [{handler, ggsn_gn},
							     {sockets, [irx]},
							     {data_paths, [grx]}
							    ]},
						     {s5s8, [{handler, pgw_s5s8},
							     {sockets, [irx]},
							     {data_paths, [grx]}
							    ]},
						     {s2a,  [{handler, pgw_s2a},
							     {sockets, [irx]},
							     {data_paths, [grx]}
							    ]}
						    ]},
					{routes, [{{10, 180, 0, 0}, 16}]},
					{pools,  [{{10, 180, 0, 0}, 16},
						  {{16#8001, 0, 0, 0, 0, 0, 0, 0}, 48}]}
				       ]}
	 ]},

	{sockets,
	 [{irx, [{type, 'gtp-c'},
		 {ip,  {192,0,2,16}},
		 {netdev, "grx"},
		 freebind
		]},
	  {grx, [{type, 'gtp-u'},
		 {node, 'gtp-u-node@localhost'},
		 {name, 'grx'}]}
	 ]}.

{ergw_aaa, [
	    %% {ergw_aaa_provider, {ergw_aaa_mock, [{secret, <<"MySecret">>}]}}
	    {ergw_aaa_provider,
	     {ergw_aaa_radius,
	      [{nas_identifier,<<"nas01.example.com">>},
	       {radius_auth_server,{{192,0,2,32},1812,<<"secret">>}},
	       {radius_acct_server,{{192,0,2,32},1813,<<"secret">>}}
	      ]}
	    }
	   ]}.
