[{setup, [{data_dir, "/var/lib/ergw"},
	  {log_dir,  "/var/log/gtp-c-node"}				%% NOTE: lager is not using this
	 ]},

 {ergw, [%% {dp_handler, ngc_dp},
	 {sockets,
	  [{irx, [{type, 'gtp-c'},
		  {ip,  {172,20,16,89}},
		  {netdev, "grx"},
		  freebind
%%		  {netns, "/var/run/netns/grx"}
		 ]},
	   {grx, [{type, 'gtp-u'},
		  {node, 'gtp-u-node@localhost'},
		  {name, 'grx'}]}
	  ]},

	 {vrfs,
	  [{upstream, [{pools,  [{{10, 180, 0, 1}, {10, 180, 255, 254}, 32},
				 {{16#8001, 0, 0, 0, 0, 0, 0, 0}, {16#8001, 0, 0, 16#FFFF, 0, 0, 0, 0}, 64}
				]},
		       {'MS-Primary-DNS-Server', {8,8,8,8}},
		       {'MS-Secondary-DNS-Server', {8,8,4,4}},
		       {'MS-Primary-NBNS-Server', {127,0,0,1}},
		       {'MS-Secondary-NBNS-Server', {127,0,0,1}}
		      ]}
	  ]},

	 {handlers,
	  [{'h1', [{handler, pgw_s5s8},
		   {protocol, gn},
		   {sockets, [irx]},
		   {data_paths, [grx]},
		   {aaa, [{'Username',
			   [{default, ['IMSI', <<"@">>, 'APN']}]}]}
		  ]},
	   {'h2', [{handler, pgw_s5s8},
		   {protocol, s5s8},
		   {sockets, [irx]},
		   {data_paths, [grx]}
		  ]}
	  ]},

	 {apns,
	  [{[<<"example">>, <<"net">>], [{vrf, upstream}]},
	   {[<<"APN1">>], [{vrf, upstream}]}
	  ]}
	]},

 {ergw_aaa, [
	     %% {ergw_aaa_provider, {ergw_aaa_mock, [{shared_secret, <<"MySecret">>}]}}
	     {ergw_aaa_provider,
	      {ergw_aaa_radius,
	       [{nas_identifier,<<"ac1.ac.tplab">>},
		{radius_auth_server,{{172,20,16,75},1812,<<"secret">>}},
		{radius_acct_server,{{172,20,16,75},1813,<<"secret">>}}
	       ]}
	     }
	    ]},

 {jobs, [{samplers,
	  [{cpu_feedback, jobs_sampler_cpu, []}
	  ]},
	 {queues,
	  [{path_restart,
	    [{regulators, [{counter, [{limit, 100}]}]},
	     {modifiers,  [{cpu_feedback, 10}]} %% 10 = % increment by which to modify the limit
	    ]}
	  ]}
	]},

 {lager, [
	  {log_root, "/var/log/gtp-c-node"},
	  {colored, true},
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "console.log"}, {level, debug}]}
		     ]}
	 ]}
].
