[{ergw, [{control_node, 'scg-control-node@SCG4'},
	 {apn, [{netns, "/var/run/netns/upstream"},
		{routes, [{{10, 180, 0, 0}, 16}]},
		{pools,  [{{10, 180, 0, 0}, 16},
			  {{16#8001, 0, 0, 0, 0, 0, 0, 0}, 48}]}
	       ]},
	 {sockets, [
		    [{name, irx},
		     {type, 'gtp-c'},
		     {ip,  {172,20,16,90}},
		     {netns, "/var/run/netns/grx"}],
		    [{name, grx},
		     {type, 'gtp-u'},
		     {ip,  {172,20,16,90}},
		     {netns, "/var/run/netns/grx"}]
		   ]}
	]},

 {lager, [
	 {colored, true},
	 {handlers, [
		     {lager_console_backend, debug},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
	]}
].
