[{ergw, [{control_node, 'scg-control-node@SCG4'},
	 {apns,
	  [{[<<"APN0">>], [{protocols, [{gn,   [{handler, ggsn_gn},
						{sockets, [irx]}]},
					{s5s8, [{handler, pgw_s5s8},
						{sockets, [irx]}]},
					{s2a,  [{handler, pgw_s2a},
						{sockets, [irx]}]}
				       ]},
			   {routes, [{{10, 180, 0, 0}, 16}]},
			   {pools,  [{{10, 180, 0, 0}, 16},
				     {{16#8001, 0, 0, 0, 0, 0, 0, 0}, 48}]}
			  ]},
	   {[<<"APN1">>], [{protocols, [{gn,   [{handler, ggsn_gn},
						{sockets, [irx]}]},
					{s5s8, [{handler, pgw_s5s8},
						{sockets, [irx]}]},
					{s2a,  [{handler, pgw_s2a},
						{sockets, [irx]}]}
				       ]},
			   {routes, [{{10, 180, 0, 0}, 16}]},
			   {pools,  [{{10, 180, 0, 0}, 16},
				     {{16#8001, 0, 0, 0, 0, 0, 0, 0}, 48}]}
			  ]}
	  ]},

	 {sockets,
	  [{irx, [{type, 'gtp-c'},
		  {ip,  {172,20,16,90}},
		  {netns, "/var/run/netns/grx"}]},
	   {grx, [{type, 'gtp-u'},
		  {ip,  {172,20,16,90}},
		  {netns, "/var/run/netns/grx"}]}
	  ]}
	]},

 {lager, [
	 {colored, true},
	 {handlers, [
		     {lager_console_backend, debug},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
	]}
].
