%-*-Erlang-*-
{erl_opts, [debug_info]}.

{deps, [
    {gun, "2.0.0-rc.2"},
    {jsx, "3.0.0"}
]}.

{profiles,
 [{test, [{erl_opts, [nowarn_export_all]},
	  {deps, [{cowboy, "2.9.0"}]}
	 ]}
 ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [ergw_sbi_client]}
]}.

{xref_checks, [
    undefined_functions
]}.
